body {
    background-color: #404040;
    font-family: sans-serif;
    font-size: large;
    margin: auto;
    max-width: 1280px;
}

h1, h2, p {
    color: #F5F5F5;
}

.table-of-contents {
  width: 40%;
  float: right;
  background: #F5F5F5;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
  border-radius: 25px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
